*.npy
*.pyc
__pycache__
octave-workspace
.ipynb_checkpoints/

saved_models/
saved_model/
results/
dataset/
checkpoints/
features/
explanations/
outputs/
#tests/
to_test/
images/
models/
detection/
parses/
fineTuning/
tempSeries/
dcnn/
regressor/
classifier/
#*.csv
*.mat
*.h5
*.pth
*.weights
*.a
